@use "mixins" as m;

body {
    background-color: rgba(252, 220, 225, 0.615);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    form {
        display:flex;
        justify-content: center;
        width: 100%;

        input {
            padding: 10px;
            border: 1px solid black;
            width: 80%;
            background-color: white;;

            @include m.tablet {
                width: 30%;     
            }

            @include m.desktop {
                
            }
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 0px;

        @include m.tablet {
            
        }

        @include m.desktop {
            
        }

        @include m.desktoplarge {
            width: 50%;  
        }
        

        li {
            list-style: none;
            width: 80%;
            background-color: white;
            border: 1px solid rgb(235, 71, 128);
            text-align: center;
            padding: 10px;

            @include m.tablet {
                width: 30%;
                text-align: left;
            }
     
            @include m.desktop {
                width: 40%;
                 
            }

            @include m.desktoplarge {

            }
        }

        .done {
            text-decoration-line: line-through;
            border: 1px solid rgb(87, 235, 71);
            color: grey;
        }

        .delete {
            display: none;
        }

        .ul__checkButton {
            @include m.button;
        }

        .--done {
            @include m.button;
            color: grey;
            border: 1px solid grey;
        }

        .ul__deleteButton {
            @include m.button;
        }

    }

    .sortButton {
        @include m.button;
        width: 200px;
    }

    .button1234 {
        @include m.button;
        width: 200px;
    }
}

